*{
    margin: auto;
}

.App{
    text-align: center;
    background-color: #27374D;

    min-height: 100vh;

}

.is-size{
    background-color: #27374D;
    color: #DDE6ED;
    font-size: 30px;
    padding: 10px 0 0 0;
    margin: 0px;
    border-radius: 5px;
    /* background-color: aquamarine; */
}


.content{
    background-color: #9DB2BF;
    color: #27374D;
    font-size: 18px;
    padding: 10px;
    margin: 10px 100px;
    border-radius: 15px;
    box-shadow: 0 0 0.5px 0.25px #282c34;
}

.highlight {
    color: green;
    font-size: 20px;
  }

.word{
    color: green;
}
.highlight1 {
    color: red;
  }

.input{
    background-color: #9DB2BF;
    color: #27374D;
    text-align: center;
    border: none;
    font-size: 20px;
    padding: 10px 100px;
    margin: 20px 10px;
    border-radius: 15px;
    box-shadow: 0 0 0.5px 0.25px #282c34;
}

.is-size-5{
    color: #27374D;
    font-size: 25px;
    padding: 10px ;
    margin: 10px 350px;
    border-radius: 15px;
    background-color: #9DB2BF;
    box-shadow: 0 0 0.5px 0.25px #282c34;
}

.column{
    /* background-color: #282c34; */
    color: #DDE6ED;
    padding: 1px;
    margin: 1px;
    border-radius: 15px;
    box-shadow: 0 0 0.5px 0.25px #282c34;
}

.button{
    background-color: #27374D;
    color: #DDE6ED;
    font-size: 17px;
    padding: 10px 70px ;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 0 0.5px 0.25px #282c34;
}

.is-size-1{
    color: #DDE6ED;
    font-size: 25px;
    padding: 1px 0 0 0;
    margin: 1px;
    border-radius: 5px;
}

.desc{
    color: grey;
    font-size: 25px;
    padding: 1px 0 0 0;
    margin: 5px;
    border-radius: 5px;
}


#keyboard {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }
  
  .row {
    display: flex;
  }
  
  .key {
    width: 40px;
    height: 40px;
    background-color: #9DB2BF;
    border: 1px solid gray;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .key:hover {
    background-color: gray;
    color: white;
  }
  .text{
    color: #9DB2BF;
    font-size: 25px;
    padding: 1px 0 0 0;
    margin: 5px;
    border-radius: 5px;
  }